*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#edit-container{
    width: 35%;
    height: 35%;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}